# KUNCI FIREBASE
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# KUNCI CLOUDINARY
VITE_CLOUDINARY_URL=
VITE_CLOUDINARY_PRESET=

# DATA WA
VITE_DEFAULT_DPJP_DATA=